{% load staticfiles %}
{% load widgy_tags %}
{% if self.css_class and self.background_image %}
  <div class="{{ self.css_class }}" style="background-image: -webkit-radial-gradient(100% 0% circle, rgba(0, 0, 0, 0.49) 45%, rgba(0, 0, 0, 0)), url('{{ self.background_image.url }}'); background-image: radial-gradient(circle at 100% 0%, rgba(0, 0, 0, 0.49) 45%, rgba(0, 0, 0, 0)), url('{{ self.background_image.url }}');">
{% elif self.css_class and self.background_color %}
  <div class="{{ self.css_class }}" style="background-color: {{ self.background_color }};">
{% elif self.css_class %}
  <div class="{{ self.css_class }}">
{% elif self.css_style %}
  <div style="{{ self.css_style }}">
{% elif self.background_image %}
  <div class="w-section image-module" style="background-image: -webkit-radial-gradient(100% 0% circle, rgba(0, 0, 0, 0.49) 45%, rgba(0, 0, 0, 0)), url('{{ self.background_image.url }}'); background-image: radial-gradient(circle at 100% 0%, rgba(0, 0, 0, 0.49) 45%, rgba(0, 0, 0, 0)), url('{{ self.background_image.url }}');">
{% elif self.background_color %}
  <div class="w-section" style="height: 600px; padding-right: 30px; padding-left: 30px; border-top: 1px solid #d1d3d4; background-color: {{ self.background_color }}; text-align: left;">
{% else %}
  <div class="w-section white-module">
{% endif %}
  <div class="w-container">
    <div class="w-row mask" id="lighthouse_{{ self.id }}">
      <i class="fa fa-times fa-2x close-button" id="close_button_{{ self.id }}" onclick="javascript:hideLighthouse('lighthouse_{{ self.id }}', 'primary_{{ self.id }}', 'iframe_div_{{ self.id }}');"></i>
      <div class="w-col w-col-12">
        <div class="iframe-container" id="iframe_div_{{ self.id }}">{{ self.iframe_tag|safe }}</div>
      </div>
      <div class="page-cover"></div>
    </div>
    <div class="w-row" id="primary_{{ self.id }}">
      {% if self.text_content_is_on_left == False %}
        <div class="w-col w-col-6 w-col-small-6 content-module-column">
          <div class="vertical-element"></div>
        </div>
      {% endif %}
      <div class="w-col w-col-6 w-col-small-6 content-module-column col-1-closer">
        <div class="vertical-element">
          {% with ttblock=self.get_children.0 %}
            {% if ttblock.title %}
              <{{ ttblock.title_tag }}{% if ttblock.title_color %} style="color: {{ ttblock.title_color }};"{% endif %} class="no-flicker">
                {% if ttblock.text_is_raw_html %}
                  {{ ttblock.title|safe }}
                {% else %}
                  {{ ttblock.title }}
                {% endif %}
              </{{ ttblock.title_tag }}>
            {% endif %}
            {% if ttblock.text %}
              {% if ttblock.text_is_raw_html %}
                {{ ttblock.text|safe }}
              {% else %}
                <p class="module-blurb no-flicker"{% if ttblock.text_color %} style="color: {{ ttblock.text_color }};"{% endif %}>
                  {{ ttblock.text }}
                </p>
              {% endif %}
            {% endif %}
            {% with cta=ttblock.get_children.0 %}
              <div class="cta-spacing">
                <a href="#" data-ix="new-button-hover" class="w-inline-block new-button" onclick="javascript:showLighthouse('lighthouse_{{ self.id }}','iframe_div_{{ self.id }}', 'close_button_{{ self.id }}', 'primary_{{ self.id }}');"><img src="{% static "images/button-left.png" %}" class="small">
                  <div class="button-center small">
                    <div class="button-text">{{ cta.text }}</div>
                  </div><img src="{% static "images/button-right.png" %}" class="small"><img src="{% static "images/button-arrow.png" %}" class="button-arrow small">
                </a>
              </div>
            {% endwith %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>
