{% load zinnia %}
<div class="col-md-4">
  <div id="sidebar1" class="sidebar m-all t-1of3 d-2of7 last-col cf" role="complementary">
    <div id="text-4" class="widget widget_text">
      <h4 class="widgettitle">Subscribe</h4>
      <div class="textwidget">
        <p>Be the first to see interesting Spaces, new posts, and special offers.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="//matterport.us2.list-manage.com/subscribe/post?u=542a7ea2cf928b32b2e2d1ae3&amp;id=b5b08855c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1">
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <input type="email" value="" placeholder="Email Address*" name="EMAIL" class="required email" id="mce-EMAIL" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                    </div>
                    <div class="mc-field-group">
                        <input type="text" value="" placeholder="First Name*" name="FNAME" class="" id="mce-FNAME">
                    </div>
                    <div class="mc-field-group">
                        <input type="text" value="" name="LNAME" class="" placeholder="Last Name*" id="mce-LNAME">
                    </div>
                    <div class="mc-field-group">
                        <select name="PROFESSION" class="required" id="mce-PROFESSION" placeholder="Select your profession*">
                            <option value="Select Closest Match" selected="selected" disabled="disabled">Select your profession*</option>
                            <option value="Real Estate Agent/Broker">Real Estate Agent/Broker</option>
                            <option value="Photographer">Photographer</option>
                            <option value="Technology Enthusiast/Investor">Technology Enthusiast/Investor</option>
                            <option value="Software Developer">Software Developer</option>
                            <option value="Reporter/Journalist">Reporter/Journalist</option>
                            <option value="Home Decorator">Home Decorator</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
        <div class="mc-field-group input-group">
            <ul><li><input type="radio" value="I would also like to receive discounts, future product information, and content from Matterport." name="MMERGE7" id="mce-MMERGE7-0"><label for="mce-MMERGE7-0">I would also like to receive discounts, future product information, and content from Matterport.</label></li>
        </ul>
        </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none">
                        </div>
                        <div class="response" id="mce-success-response" style="display:none">
                        </div>
                    </div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_542a7ea2cf928b32b2e2d1ae3_b5b08855c7" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-default">
                        <i class="ico">
                        </i>
                    </div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
    <div id="categories-2" class="widget widget_categories">
      <h4 class="widgettitle">Categories</h4>
      {% get_categories %}
    </div>
    <div id="recent-posts-2" class="widget widget_recent_entries">
      <h4 class="widgettitle">Recent Posts</h4>
      {% get_recent_entries %}
    </div>
  </div>
</div>
