{% extends widgy.owner.base_template|default:"layout_base.html" %}
{% load staticfiles %}
{% load widgy_tags %}
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/fancybox/jquery.fancybox.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/wp-avista-styles.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/wp-avista-styles-new.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/wp-avista-styles-201605.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/wp-slick.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/wp-avista-styles-new-02.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/real-estate-vertical.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/header-microsite.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "cookie_bar/cookiebar_v1.5.9.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/wp-migration-fix.css" %}">
  {% for stylesheet in self.stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
{% endblock %}
{% block body_css_class %}{% endblock %}
{% block navigation %}{% include "widgy/mp_widgets/realestateverticallayout/_real_estate_navigation.html" %}{% endblock %}
{% block content %}
<section class="content grid">
  {% for child in self.get_children %}
    {% render child %}
  {% endfor %}
  {% include "_footer.html" %}
</section>
{% endblock %}
{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{% static "js/wpLegacy/scripts.js" %}"></script>
  <script src="{% static "js/wpLegacy/jquery.fancybox.pack.js" %}"></script>
  <script src="{% static "js/wpLegacy/animsition.min.js" %}"></script>
  <script src="{% static "js/wpLegacy/grayscale.js" %}"></script>
  <script src="{% static "js/wpLegacy/jquery.appear.js" %}"></script>
  <script src="{% static "js/wpLegacy/slick.min.js" %}"></script>
  <script src="{% static "js/wpLegacy/jquery.textPlaceholder.js" %}"></script>
  <script src="{% static "js/wpLegacy/wow.min.js" %}"></script>
  <script src="{% static "js/wpLegacy/covervid.min.js" %}"></script>
  <script src="{% static "js/wpLegacy/avista-scripts.js" %}"></script>
  <script src="{% static "js/wpLegacy/avista-scripts-new.js" %}"></script>
  <script src="{% static "js/wpLegacy/avista-scripts-new-02.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/navigation.js" %}"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  {% for javascript_file in self.javascript_files %}
    <script src="{{ javascript_file }}"></script>
  {% endfor %}
{% endblock %}
