<!-- HTML/JS for password protection on MSP Intranet pages
   - To use on /msp-member and /msp-member/videos use the the code as is.
   - To use on /msp-member/contact-us and /msp-member/webinars-events replace
     the '.container' selector with '.info-section'
   - Put this code in an Unsafe HTML widget at the top of 'Main content'
   - After a correct password has been entered a cookie is set with expiration
     in 2 years.  This is to accommodate Janet Tambascos's preference that MSP
     users should not have to enter in a password again after doing it once
-->
<script type="text/javascript">
  $("#header").css("visibility", "hidden");
  $(".content.grid").css("visibility", "hidden");
</script>
<section class="info-section" id="msp-password-form">
  <div class="container" style="text-align: left;">
    <div class="row">
      <div class="col-sm-6 col-md-8">
        This content is password protected. To view it please enter your password below:<BR><BR>
          <label>Password:
            <input id="pword-input" type="password" name="cfd" size="20">&nbsp;
            <input type="submit" value="Enter" onClick="setCookie('msp_intranet_cookie');">
          </label>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
function setCookie(cookie_name) {
  var index = document.cookie.indexOf(cookie_name);
  if (index == -1) {
    hash = md5(document.getElementById("pword-input").value);
    if (hash == 'f55bf2f2edbb1a4634f9c46e8643a05e' ||
      hash == '82b099989c2da69ac258e3298f66ab94') {
      createCookie("msp_intranet_cookie", hash, 730);
      checkCookie();
    }
    else{
      alert("Sorry you have entered an incorrect password");
    }
  }
}

function createCookie(name, value, days) {
  if (days) {
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
  }
  else var expires = "";
  document.cookie = name+"="+value+expires+"; path=/msp-member/";
}

function checkCookie() {
  // Get cookie to see if password has been presented
  var index = document.cookie.indexOf(cookie_name);

  // if cookie has not been set, hide the contents
  if (index == -1) {
    toggleContent("hide");
  }
  else {
    toggleContent("show");
  }
}

function toggleContent(visible) {
  $("#header").css("visibility","visible");
  $(".content.grid").css("visibility","visible");

  if (visible == "hide") {
    $(".content > .top-section").hide();
    $(".content > .container").hide();
    $(".content > #msp-password-form").show();
  }
  else {
    $(".content > .top-section").show();
    $(".content > .container").show();
    $("#msp-password-form").hide();
  }
}

(function($, window) {
  $(window).load(function() {
    cookie_name = "msp_intranet_cookie";
    document.onkeydown = function(evt) {
      var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
      if (keyCode == 13) {
        setCookie("msp_intranet_cookie");
      }
    }
    checkCookie();
  })
})(jQuery, window);
</script>
