{% load widgy_tags %}
{% with css_style=self.get_css_style %}
  <section class="{{ self.css_class|default:"info-section" }}"{% if css_style %} style="{{ css_style }}"{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if self.main_title %}
            {% if self.main_title_is_raw_html %}
              {{ self.main_title|safe }}
            {% else %}
              <{{ self.main_title_tag }}{% if self.main_title_color %} style="color: {{ self.main_title_color }};"{% endif %}>{{ self.main_title }}</{{ self.main_title_tag }}>
            {% endif %}
          {% endif %}
          {% if self.main_text %}
            {% if self.main_text_is_raw_html %}
              {{ self.main_text|safe }}
            {% else %}
              <p{% if self.main_text_color %} style="color: {{ self.main_text_color }};"{% endif %}>{{ self.main_text }}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% for child in self.get_children %}
      {% render child %}
    {% endfor %}
  </section>
{% endwith %}
